.App {
  text-align: center;
}

body {
background-color: #DBE9EE;
}




.test{
  background: #FFF;
  z-index: 1;
}

.songPlayer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -1

}

a {
  color: white;
}

/* Welcome Page */

#imageContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  bottom: 50%;
  background-color:#FDFDFF;
  background-image: url('https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  text-align:center;
  z-index: -1
}

#image {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  width: 38%;
  position: relative;
}

#buttonContainer {
  position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f17300;
   text-align:center;
   color:#FFFFFF;

}

#loginContainer {
  position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f17300;
   text-align:center;
   color:#FFFFFF;

}

#signupContainer {
  position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f17300;
   text-align:center;
   color:#FFFFFF;

}

/* Login */


#form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Video Page */

#videoList {
  width: 30%;
  height: 100%
}

#videoListPlayer {
  width: 70%;
  height: 100%
}

.player-wrapper {
  position: relative;
  padding-top: 10%;
  padding-left: 30%;
}

.react-player {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Navbar */

#navbar {
  background-color: #81a4cd;
}

/* Footer */


#footer {
  background-color: #81a4cd;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.songList {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.songContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100%;
     margin-top: 5%;
     margin-bottom: 5%
   }

#songInfo {
  margin: auto;
  width: 50%;
  padding: 10px;

}
