.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}


/* Demo styles */

html,
body {
  height: 100%;
}

/* body {
  display: grid;
  place-items: center;
  background: #456173;
} */

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.app {
  /* width: 375px;
  height: 667px; */
  /* background: #DBD0BC; */
  /* overflow-y: scroll; */
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #DBD0BC; */
  border-radius: 8px;
}

.player {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;

}

.test{
  background: #FFF;
  z-index: 1;
}

.songPlayer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -1
}

a {
  color: white;
}

/* Welcome Page */

#imageContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  bottom: 50%;
  background-color:#FDFDFF;
  text-align:center;
  z-index: -1
}

#image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}

#buttonContainer {
  position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#62929E;
   text-align:center;
   color:#FFFFFF;

}

#loginContainer {
  position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#546a7b;
   text-align:center;
   color:#FFFFFF;

}

#signupContainer {
  position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#c6c5b9;
   text-align:center;
   color:#FFFFFF;

}
